body {
    font-family: 'Averta Standard',Helvetica Helvetica,Arial,Lucida sans-serif;
    font-size: 16px;
    background: #ececec !important;
}

div.item-card {
    border-radius: 10px;
    width: 60%;
    margin-top: 10px;
}

ul.pagination {
    justify-content: center;
}

div.searched-item {
    height: 20%;
    background: white;
}

div.searched-item p {
    text-align: center;
    font-size: xx-large;
}

img.item-img {
    margin: 10px;
    border-radius: 10px;
}

a.navbar-brand {
    background-color: white;
}

a.navbar-brand span {
    color: black;
}

a.page-link {
    color: black;
}

nav.navbar {
    background-color: #35373b
}

footer {
    background: #35373b !important;
    color: white;
}