body {
    font-family: 'Averta Standard',Helvetica Helvetica,Arial,Lucida sans-serif;
    font-size: 16px;
    background: #ececec !important;
}

div.article-card {
    border-radius: 10px;
    width: 40vw;
    margin: 10px auto;
}

ul.pagination {
    justify-content: center;
}

div.searched-article {
    height: 20%;
    background: white;
}

div.searched-article p {
    text-align: center;
    font-size: xx-large;
}

img.article-img {
    margin: 10px;
    border-radius: 10px;
}

a.article-a {
    margin: 10px;
}

a.navbar-brand {
    background-color: white;
}

a.navbar-brand span {
    color: black;
}

a.page-link {
    color: black;
}

nav.navbar {
    background-color: #35373b
}

footer {
    background: #35373b !important;
    color: white;
}