{% extends 'frontend/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block 'body' %}

<style>
    .form-container {
        max-width: 28em;
        background-color: #f7f7f7;
        border-radius: 30px;
        border: 1px solid #dadce0;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    input {
        max-width: 18em
    };

    .requiredField {
        font-weight: bold;
    }
    .register a {
        text-decoration: none;
    }
</style>
{% url 'password_reset' as password_reset_url %}
{% url 'register' as register_url %}
<div class="container form-container shadow-lg mb-3">
    <form method="POST" class="px-5">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>
{% endblock %}