{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/product_description.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/expend_description.js' %}"></script>
    <script src="{% static 'js/like_item.js' %}"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4339509524160281" crossorigin="anonymous"></script>
    <link rel="icon" href="{% static 'images/logo_ic.png' %}" type="image/x-icon">
    <title>ERRADAR</title>
    <meta name="description" content="Your concise and engaging description goes here. This will appear in search engine results beneath your website title.">
</head>
<body>
    <nav class="navbar main-navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" alt="ERRADAR Logo" height="40" class="d-inline-block align-text-top">
            </a>
            <form class="form-inline order-2 order-md-1 mt-3 mt-md-0" style="margin: 0 auto;" action="{% url 'home' %}">
                <div class="d-flex g-0 bg-light rounded-pill">
                        <input type="text" name="search" class="form-control shadow-none border-0 rounded-pill pr-5" placeholder="Recherche.." type="search" value="{{request.GET.title}}">
                        <button class="btn btn-outline-light text-dark border-0 rounded-pill ml-n5" type="search">
                            <i class="fa fa-search"></i>
                        </button>
                </div>
            </form>
            <ul class="nav navbar-nav mr-0 mt-2 mt-lg-0 order-1 order-md-2">
                {% if user.is_authenticated %}
                <!-- if user is authenticated, this part is shown -->
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav-link" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown">
                        Compte <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarScrollingDropdown">
                        <a class="dropdown-item" href="{% url 'profile' %}">{% trans "My profile" %}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">{% trans "Log out" %}</a>
                    </ul>
                </li>
                {% else %}    
                <li class="nav-item">
                    <a class="btn btn-primary rounded-pill d-flex align-items-center" href="{% url 'login' %}">
                        {% trans "Log in" %}
                    </a>
                </li>
                {% endif %}  
            </ul>
        </div>
    </nav>
    {% if categories %}
    <nav class="navbar category-navbar">
        <div class="container justify-content-center">
            <div class="navbar-container d-flex my-2" style="overflow-x: auto;">
                <ul class="navbar-nav d-flex flex-row">
                    {% for category in categories|dictsortreversed:"score" %}
                        <li class="mx-2">
                            <button type="button" class="btn category-btn  d-flex align-items-center">
                                <a class="nav-link align-items-center" href="?category={{ category.name_en }}">
                                    {% if category.image %}
                                        <img src="{{ category.image.url }}" alt="{{ category.name }}" width="20" height="20" class="mr-2">
                                    {% endif %}
                                    <i class="icon-class"></i> {{ category.name }}
                                </a>
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
        <div class="container mt-3">
            <div class="row">
                <div class="col">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    <div class="main">
        {% block 'body' %}
        {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <footer>
        <div class="container pt-5 border-bottom">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-4 col-sm-12 col-12">
                    <h5 class="mb-4 font-weight-bold text-uppercase footer-heading">Entreprise</h5>
                    <ul class="list-group">
                        <li class="list-group-item border-0 p-0 mb-2"><a href="{% url 'footer_info' %}#qui_sommes_nous">{% trans "Who are we ?" %}</a></li>
                        <li class="list-group-item border-0 p-0 mb-2"><a href="{% url 'footer_info' %}#devenir_partenaire">{% trans "Become a partner" %}</a></li>
                        <li class="list-group-item border-0 p-0 mb-2"><a href="{% url 'footer_info' %}#contact">{% trans "Contact" %}</a></li>
                    </ul>
                </div>
    
                <div class="col-md-4 col-sm-12 col-12">
                    <h5 class="mb-4 font-weight-bold text-uppercase footer-heading">{% trans "Connect" %}</h5>
                    <ul class="list-group">
                        <li class="list-group-item border-0 p-0 mb-2">
                            <a href="https://www.Instagram.com/naologic"><i class="fa fa-instagram mr-1"></i> Instagram</a>
                        </li>
                        <li class="list-group-item border-0 p-0 mb-2">
                            <a href="https://twitter.com/naologicerp"><i class="fa fa-twitter mr-1"></i> Twitter</a>       
                        </li>
                        <li class="list-group-item border-0 p-0 mb-2">
                            <a href="https://www.facebook.com/naologic/" target="_blank"><i class="fa fa-facebook mr-1"></i> Facebook</a>
                        </li>
                    </ul>
                </div>
                
                <div class="col-md-4 col-sm-12 col-12"> 
                    <h5 class="mb-4 font-weight-bold text-uppercase footer-heading">{% trans "More Info" %}</h5>
                    <ul class="list-group">
                        <li class="list-group-item border-0 p-0 mb-2"><a href="{% url 'footer_info' %}#Confidentialité">{% trans "Confidentiality & Conditions" %}</a></li>
                        <li class="list-group-item border-0 p-0 mb-2"><a href="{% url 'footer_info' %}#site_plan">{% trans "Site organisation" %}</a></li>
                        <li class="list-group-item border-0 p-0 mb-2"><a href="{% url 'footer_info' %}#Legal_info">{% trans "Legal information" %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>