{% extends 'frontend/base.html' %}
{% load static %}

{% block 'body' %}
    <section id="qui_sommes_nous" class="py-5">
        <div class="container">
            <h2 class="mb-4">Qui sommes-nous ?</h2>
            <p>Nous sommes ERRADAR, une plateforme en ligne qui répertorie toutes les promotions des sites tunisiens. Fondée en 2023, notre mission est de vous aider à économiser du temps et de l'argent en regroupant toutes les promotions en un seul endroit. Nous avons vu une opportunité de simplifier le processus de recherche d'offres en Tunisie, et nous nous sommes engagés à offrir à nos utilisateurs l'accès aux meilleures offres disponibles.</p>
        </div>
    </section>

    <section id="devenir_partenaire" class="py-5 bg-light">
        <div class="container">
            <h2 class="mb-4">Devenir partenaire</h2>
            <p>ERRADAR offre des opportunités de partenariat pour les entreprises tunisiennes qui souhaitent augmenter leur visibilité et atteindre un public plus large. Si votre entreprise offre des promotions et que vous cherchez à augmenter vos ventes, nous aimerions entendre parler de vous. En devenant partenaire avec ERRADAR, vous pouvez accéder à notre large base d'utilisateurs et faire connaître vos offres à un public plus large.</p>
        </div>
    </section>

    <section id="contact" class="py-5">
        <div class="container">
            <h2 class="mb-4">Contact</h2>
            <p>Chez ERRADAR, nous sommes toujours ravis d'entendre parler de nos utilisateurs. Si vous avez des questions, des commentaires ou des préoccupations, ou si vous souhaitez en savoir plus sur nos opportunités de partenariat, n'hésitez pas à nous contacter. Vous pouvez nous envoyer un courrier électronique à info@erradar.com ou nous appeler au +0699999999. Suivez-nous également sur les réseaux sociaux pour rester au courant des dernières offres et promotions.</p>
        </div>
    </section>

    <section id="Confidentialité" class="py-5 bg-light">
        <div class="container">
            <h2 class="mb-4">Confidentialité & Conditions</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </section>

    <section id="site_plan" class="py-5">
        <div class="container">
            <h2 class="mb-4">Plan du site</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </section>

    <section id="Legal_info" class="py-5 bg-light">
        <div class="container">
            <h2 class="mb-4">Information Legal</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </section>


{% endblock %}

