{% extends 'frontend/base.html' %}
{% load static %}
{% load i18n %}
{% block 'body' %}
    <section id="qui_sommes_nous" class="py-5">
        <div class="container">
            <h2 class="mb-4">{% trans "Who are we ?" %}</h2>
            <p>{% trans "We are ERRADAR, an online platform that lists all the promotions from Tunisian websites. Founded in 2023, our mission is to help you save time and money by gathering all the promotions in one place. We saw an opportunity to simplify the process of searching for offers in Tunisia, and we are committed to providing our users with access to the best available deals." %}</p>
        </div>
    </section>

    <section id="devenir_partenaire" class="py-5 bg-light">
        <div class="container">
            <h2 class="mb-4">{% trans "Become a partner" %}</h2>
            <p>{% trans "ERRADAR offers partnership opportunities for Tunisian companies that wish to increase their visibility and reach a wider audience. If your company provides promotions and you are looking to boost your sales, we would like to hear from you. By becoming a partner with ERRADAR, you can access our extensive user base and promote your offers to a broader audience." %}</p>
        </div>
    </section>

    <section id="contact" class="py-5">
        <div class="container">
            <h2 class="mb-4">{% trans "Contact" %}</h2>
            <p>{% trans "At ERRADAR, we are always delighted to hear from our users. If you have any questions, comments, or concerns, or if you would like to learn more about our partnership opportunities, please don't hesitate to contact us. You can send us an email at erradar-help@gmail.com or call us at +0699999999. Also, follow us on social media to stay updated on the latest deals and promotions." %}</p>
        </div>
    </section>

    <section id="Confidentialité" class="py-5 bg-light">
        <div class="container">
            <h2 class="mb-4">{% trans "Confidentiality & Conditions" %}</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </section>

    <section id="site_plan" class="py-5">
        <div class="container">
            <h2 class="mb-4">{% trans "Site organisation" %}</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </section>

    <section id="Legal_info" class="py-5 bg-light">
        <div class="container">
            <h2 class="mb-4">{% trans "Legal information" %}</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </section>


{% endblock %}

