{% extends 'frontend/base.html' %}
{% load static %}
{% load i18n %}
{% load item_tags %}
{% block 'body' %}
    {% if searched_item %}
        <div class="searched-item">
            <p>{% trans "Results for" %} "{{searched_item}}"</p>
        </div>
    {% endif %}
    <div class="row">
        <div class="d-none d-md-block col-md-2 offset-md-1">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center"> {% trans "Available shops" %} </h4>
                    <div class="d-flex flex-wrap justify-content-center">
                        {% for shop in shops %}
                            {% if shop.logo %}
                                <a href="?shop={{ shop.name }}">
                                    <img class="m-2 shadow rounded-circle" src="{{shop.logo.url}}" style="width: 3vw; height: 3vw "/>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10 col-md-6 offset-1 offset-md-0">
            {% for item in items %}
                <div class="row mb-2">
                    <div class="card" style="cursor: pointer;" onclick="!(event.srcElement.className.includes('fa-heart')) ? window.location = '{% url 'product_details' pk=item.pk %}' : null;">
                        <div class="card-body">
                            <div class="row gy-2 gy-md-0 justify-content-between">
                                <div class="col-3 col-md-2 order-0 ">
                                    <img src="{{ item.link_to_image }}" class="mw-100" />
                                </div>
                                <div class="col-12 col-md-6 order-2 order-md-1">
                                    <div class="d-flex flex-row justify-content-between">
                                        <h5 class="item-title">
                                            {{ item.title }}
                                        </h5>
                                        {% if user.is_authenticated %}
                                            <button class="like-button btn btn-default no-animation p-0" data-item-id="{{ item.id }}">
                                                {% if request.user|has_liked:item %}
                                                    <i style="color: red;" class="fa fa-heart fa-lg"></i>
                                                {% else %}
                                                    <i style="color: gray;" class="fa fa-heart-o fa-lg"></i>
                                                {% endif %}
                                            </button>
                                        {% else %}
                                            <button type="button" class="btn btn-default no-animation p-0">
                                                <i style="color: gray;" class="fa fa-heart-o fa-lg"></i>
                                            </button>
                                        {% endif %}
                                    </div>
                                    <div class="">
                                        <span class="deal">{% trans "Good deal" %}</span> <a class="provider" href="{{ item.provider.link }}">{{ item.provider.name }}</a>
                                    </div>
                                    <div class="d-none d-md-block">
                                        {{ item.description  | safe | truncatechars:200 }}
                                    </div>
                                </div>
                                <div class="col-7 col-md-4 order-1 order-md-2 d-flex flex-column align-items">
                                    <div class="d-flex flex-row align-items-center mb-1">
                                        <h4 class="mb-1 me-1">{{ item.discounted_price }} TND</h4>
                                        {% if item.price %}<span class="text-danger"><s>{{item.price }} TND</s></span>{% endif %}
                                    </div>
                                    <h6>                       
                                        {% if item.delivery %}
                                            <span> 
                                                <img src="{% static 'images/truck.png'%}" class="img-fluid" style="width: 25px; ">
                                            </span> {% trans item.delivery %}
                                        {% endif %}
                                    </h6>
                                    <h6>
                                        <span>
                                            <img src="{% static 'images/carte.png' %}" class="img-fluid" style="width: 25px;">
                                        </span>               
                                        {% if item.online_payment %}
                                            {% trans "available"%}
                                        {% else %}
                                            {% trans "not available"%}
                                        {% endif %}
                                    </h6>
                                    <a href="{{item.link_to_post}}" class="mt-auto d-none d-md-block btn btn-outline-primary item-a">
                                        {% trans "Go to deal" %} <i class="fa fa-external-link"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex d-md-none flex-column mt-4">
                                    <a href="{{item.link_to_post}}" class="col-auto btn btn-outline-primary item-a">
                                        {% trans "Go to deal" %} <i class="fa fa-external-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p> Winhoum manedrouch, arja3 ghodwa </p>
            {% endfor %}
        </div>
        <div class="col-1 col-sm-1 col-md-2"></div>
    </div>
    <nav class="pagination-nav">
        <ul class="pagination">
            {% for page_number in items.adjusted_elided_pages %}
                {% if page_number == items.paginator.ELLIPSIS %}
                    {{page_number}}
                {% else %}
                    <li class="page-item  {% if page_number == items.number %}active{% endif %}">
                        <a
                        class="page-link"
                        href="?page={{page_number}}{% if searched_item %}&search={{searched_item}}{% elif category %}&category={{category}}{% elif shop %}&shop={{shop}}{% endif %}"
                        >
                            {{page_number}}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}