{% extends 'frontend/base.html' %}
{% block 'body' %}
    {% for article in articles %}
        <div class="card" style="width: 50vw; margin: 10px auto;">
            <div class="row no-gutters">
                <div class="col-2">
                    <img src="{{ article.image_link }}" class="card-img" alt="Image" style="margin: 10px">
                </div>
                <div class="col-10">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.name }}</h5>
                        <p>
                            <span style="color: red;">{{ article.new_price }} TND</span> 
                            <span style="color: rgb(126, 126, 126); text-decoration: line-through;">{{ article.old_price }} TND</span> 
                            {{ article.percentage }}%
                        </p>
                        <p class="card-text">{{ article.description }}</p>
                        <a href="{{ article.url }}" style="margin: 10px;" class="btn btn-secondary float-right ">visiter l'article</a>
                    </div>
                </div>
                
            </div>
        </div>
    {% endfor %}
{% endblock %}