{% extends 'frontend/base.html' %}
{% load static %}
{% load i18n %}
{% block 'body' %}

<div class="container product-container dark-grey-text">
    <div class="card">
        <div class="row justify-content-around">
            <div class="col-md-3 product_image" >
                <img src="{{ object.link_to_image }}" class="img-fluid"  >
            </div>
            <div class="col-md-7">
                <div class="p-5">
                    <h1 class="product-title">{{ object.title }} <span class="badge bg-success category-badge">{{ object.category.name }}</span></h1>
                    <p>
                        <span class="mr-1">
                            <span class="discounted-price">{{ object.discounted_price }} TND</span>
                            <del class="original-price">{{ object.price }} TND</del>
                            <span class="discount-amount">
                                {% if object.sale_percentage %}-{{ object.sale_percentage }}%{% endif %}
                            </span>
                        </span>    
                    </p>
                    <p>
                        <span class="deal">{% trans "Good deal" %}</span> <a class="provider" href="{{ item.provider.link }}">{{ item.provider.name }}</a>
                    </p> 
                    <a href="{{object.link_to_post}}" class="btn btn-primary btn-lg item-a">{% trans "Go to deal" %}</a>
                </div>
            </div>
            </div>
    </div>

    <div class="card my-3">
        <div class="d-flex">
            <div class="p-4">
                <p class="lead font-weight-bold">{% trans "Description" %}</p>
                <p>{{ object.description | safe }}</p>
            </div>
        </div>
        <div class="d-flex">
            <div class="p-4">
                <p class="lead font-weight-bold">{% trans "Useful information" %}</p>
                <p class="">
                    {% if object.delivery %}
                    <span>
                        <img src="{% static 'images/truck.png'%}" class="img-fluid" style="width: 25px;">
                    </span> {% trans object.delivery %}
                    {% endif %}
                </p>
                <p class="">
                    {% if object.online_payment %}
                    <span>
                        <img src="{% static 'images/carte.png' %}" class="img-fluid" style="width: 25px;">
                    </span> {% trans "available"%}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}