{% extends 'frontend/base.html' %}
{% load static %}
{% load i18n %}
{% block 'body' %}

<div class="container product-container dark-grey-text">
    <div class="card">
        <div class="row justify-content-around">
            <div class="col-md-3 product_image" >
                <img src="{{ object.link_to_image }}" class="img-fluid"  >
            </div>
            <div class="col-md-7">
                <div class="p-5">
                    <h1 class="product-title">{{ object.title }} <span class="badge bg-success category-badge">{{ object.category.name }}</span></h1>
                    <p>
                        <span class="mr-1">
                            <span class="discounted-price">{{ object.discounted_price }} TND</span>
                            <del class="original-price">{{ object.price }} TND</del>
                            <span class="discount-amount">
                                {% if object.sale_percentage %}-{{ object.sale_percentage }}%{% endif %}
                            </span>
                        </span>    
                    </p>
                    <p>
                        <span class="deal">{% trans "Good deal" %}</span> <a class="provider" href="{{ item.provider.link }}">{{ item.provider.name }}</a>
                    </p> 
                    <a href="{{object.link_to_post}}" class="btn btn-primary btn-lg item-a">
                        {% trans "Go to deal" %} <i class="fa fa-external-link"></i>
                    </a>
                </div>
            </div>
            </div>
    </div>                      
    <div class="card my-3">
        <div class="d-flex">
            <div class="p-4">
                <p class="lead font-weight-bold">{% trans "Description" %}</p>
                <p>{{ object.description | safe }}</p>
            </div>
        </div>
        <div class="d-flex">
            <div class="p-4">
                <p class="lead font-weight-bold">{% trans "Useful information" %}</p>
                <p class="">
                    {% if object.delivery %}
                    <span>
                        <img src="{% static 'images/truck.png'%}" class="img-fluid" style="width: 25px;">
                    </span> {% trans object.delivery %}
                    {% endif %}
                </p>
                <p class="">
                    <span>
                        <img src="{% static 'images/carte.png' %}" class="img-fluid" style="width: 25px;">
                    </span>               
                    {% if item.online_payment %}
                        {% trans "available"%}
                    {% else %}
                        {% trans "not available"%}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    <div class="card my-3">
        <div class="p-4">
            <p class="lead font-weight-bold">{% trans "Similar Products" %}</p>
        </div>
    <div class="d-flex flex-wrap">
        {% for similar_item in object.similar_items %}
            <div class="card mr-3 mb-3" style="width: 188.5px;">
                <img class="card-img-top" src="{{ similar_item.link_to_image }}" alt="Card image cap" style="width: 100%; height: auto;">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <h5 class="card-title">{{ similar_item.title }}</h5>
                        <p class="card-text">{{ similar_item.description|slice:":60" }}{% if similar_item.description|length > 60 %}...{% endif %}</p>
                    </div>
                    <div class="mt-auto">
                        <p>
                            <span class="smaller-discounted-price">{{ similar_item.discounted_price }} TND</span>
                        </p>
                        <p>
                            <del class="original-price">{{ similar_item.price }} TND</del>
                            <span class="small-discount-amount">
                                {% if similar_item.sale_percentage %}-{{ similar_item.sale_percentage }}%{% endif %}
                            </span>
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ similar_item.link_to_post }}" class="card-link">
                        <small class="text-muted">Go to deal</small>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
    
</div>
{% endblock %}